<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classInfo</key>
	<array>
		<dict>
			<key>name</key>
			<string>视频</string>
			<key>winCol</key>
			<string>CGTMPWindowController</string>
		</dict>
		<dict>
			<key>winCol</key>
			<string>CGTWeiQiWindowController</string>
			<key>name</key>
			<string>围棋</string>
		</dict>
		<dict>
			<key>winCol</key>
			<string>CGTExcelWindowController</string>
			<key>name</key>
			<string>excel</string>
		</dict>
		<dict>
			<key>name</key>
			<string>drawLayer</string>
			<key>winCol</key>
			<string>CGTDrawWindowController</string>
		</dict>
		<dict>
			<key>name</key>
			<string>commonDemo</string>
			<key>winCol</key>
			<string>CGTCommonDemoWindowController</string>
		</dict>
		<dict>
			<key>name</key>
			<string>鼠标事件</string>
			<key>winCol</key>
			<string>CGTMouseEventWindowController</string>
		</dict>
		<dict>
			<key>name</key>
			<string>graphics</string>
			<key>winCol</key>
			<string>CGTOpenglWindowController</string>
		</dict>
	</array>
</dict>
</plist>
